<div class="dialog-backdrop" ng-click="$ctrl.closeDialog()"></div>

<div class="dialog-container" ng-style="{ width: $ctrl.width || '400px' }">
  <div class="dialog-header" ng-if="$ctrl.title">
    <h3>{{ $ctrl.title }}</h3>
    <button class="close-button" ng-click="$ctrl.closeDialog()">
      <i class="fa-regular fa-circle-xmark"></i>
    </button>
  </div>
  <div class="dialog-body" ng-if="$ctrl.text">
    <p>{{ $ctrl.text }}</p>
  </div>
  <div class="dialog-footer">
    <button
      ng-if="$ctrl.mode === 'question'"
      class="button button-primary"
      ng-click="$ctrl.handleYes()"
    >
      Yes
    </button>
    <button
      ng-if="$ctrl.mode === 'question'"
      class="button button-secondary"
      ng-click="$ctrl.closeDialog()"
    >
      No
    </button>

    <button
      ng-if="$ctrl.mode === 'delete'"
      class="button button-danger"
      ng-click="$ctrl.handleDelete()"
    >
      Delete
    </button>
    <button
      ng-if="$ctrl.mode === 'delete'"
      class="button button-secondary"
      ng-click="$ctrl.closeDialog()"
    >
      Cancel
    </button>

    <button
      ng-if="$ctrl.mode === 'notice'"
      class="button button-primary"
      ng-click="$ctrl.closeDialog()"
    >
      Ok
    </button>
  </div>
</div>
