<div class="grid">
  <!-- Table Header -->
  <div class="grid-header">
    <div
      class="grid-cell"
      ng-repeat="field in $ctrl.gridSettings.Fields"
      ng-style="{
        width: $ctrl.getProportionalWidth(field.FieldWidth) + '%'
      }"
    >
      {{ field.FieldLabel | translate }}
    </div>
  </div>

  <!-- Table Body -->
  <div
    class="grid-row"
    ng-repeat="item in $ctrl.data track by item.id"
    ng-class="{
      'selected-row':
        $ctrl.selectedRowId !== null && $ctrl.selectedRowId === item.id
    }"
    ng-click="$ctrl.rowClick(item)"
    ng-dblclick="$ctrl.rowDblClick(item)"
  >
    <div
      class="grid-cell"
      ng-repeat="field in $ctrl.gridSettings.Fields"
      ng-style="{
        width: $ctrl.getProportionalWidth(field.FieldWidth) + '%'
      }"
    >
      {{ item[field.FieldName] }}
    </div>
  </div>
</div>
