<div ng-controller="HomeController as ctrl">
  <grid-component
    grid-settings="ctrl.gridSettings"
    data="ctrl.users"
    selected-item="ctrl.currentUser"
    on-row-event="ctrl.handleRowEvent($event)"
  >
  </grid-component>
  <dialog-component
    title="User Details"
    width="550px"
    on-close="ctrl.handleDialogClose()"
    ng-if="ctrl.showDialog"
  >
    <div class="user-info-block">
      <div class="user-avatar"></div>
      <div class="user-info">
        <p class="user-name" ng-if="ctrl.currentUser.name">{{ ctrl.currentUser.name }}</p>
        <p class="user-username" ng-if="ctrl.currentUser.username"></p>{{ ctrl.currentUser.username }}</p>
        <p class="user-address" ng-if="ctrl.currentUser.address">{{ ctrl.currentUser.address.street }}, {{ ctrl.currentUser.address.suite}}, <strong>{{ ctrl.currentUser.address.city}}</strong></p>
      </div>
    </div>
    <div class="user-details">
      <p><span>{{'phone' | translate}}: </span>{{ ctrl.currentUser.phone }}</p>
      <p>
        <span>{{'email' | translate}}: </span>
        <a ng-href="mailto:{{ ctrl.currentUser.email }}">{{ ctrl.currentUser.email }}</a>
      </p>
      <p>
        <span>{{'website' | translate}}: </span>
        <a ng-href="http://{{ ctrl.currentUser.website }}" target="_blank">{{ ctrl.currentUser.website }}</a>
      </p>
    </div>
    <button ng-click="ctrl.deleteUser()" class="button button-big-primary" style="align-self: self-end;"><i class="fa-regular fa-trash-can"></i>Delete</button>
  </dialog-component>
  <message-component
    ng-if="ctrl.deleteDialogVisible"
    mode="delete"
    title="Delete Item"
    text="This action cannot be undone. Do you want to delete this item?"
    on-confirm="ctrl.handleDelete()"
    on-close="ctrl.handleClose()"
></message-component>
</div>
