<div ng-controller="HomeController as ctrl">
  <grid-component
    grid-settings="ctrl.gridSettings"
    data="ctrl.users"
    selected-item="ctrl.currentUser"
    on-row-event="ctrl.handleRowEvent($event)"
  >
  </grid-component>
  <dialog-component
    title="{{'userDetails'| translate}}"
    width="550px"
    on-close="ctrl.handleDialogClose()"
    ng-if="ctrl.showDialog"
  >
    <div class="user-info-block">
      <i class="fa-solid fa-circle-user user-avatar"></i>
      <div class="user-info">
        <p class="user-name" ng-if="ctrl.currentUser.name">{{ ctrl.currentUser.name }}</p>
        <p class="user-username" ng-if="ctrl.currentUser.username"></p>{{ ctrl.currentUser.username }}</p>
        <p class="user-address" ng-if="ctrl.currentUser.address">{{ ctrl.currentUser.address.street }}, {{ ctrl.currentUser.address.suite}}, <strong>{{ ctrl.currentUser.address.city}}</strong></p>
      </div>
    </div>
    <div class="user-details">
      <div>
        <p><span>{{'phone' | translate}}: </span>{{ ctrl.currentUser.phone }}</p>
        <p>
          <span>{{'website' | translate}}: </span>
          <a ng-href="http://{{ ctrl.currentUser.website }}" target="_blank">{{ ctrl.currentUser.website }}</a>
        </p>
      </div>
      <p>
        <span>{{'email' | translate}}: </span>
        <a ng-href="mailto:{{ ctrl.currentUser.email }}">{{ ctrl.currentUser.email }}</a>
      </p>
    </div>
    <button ng-click="ctrl.deleteUser()" class="button button-big button-big-white" style="align-self: self-end;"><i class="fa-regular fa-trash-can"></i>{{'delete' | translate}}</button>
  </dialog-component>
</div>
