<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8" />
    <title>AngularJS</title>
    <base href="/" />
    <link rel="icon" href="assets/favicon.ico" sizes="any" />
    <link href="css/style.css" rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/7.2.3/css/flag-icons.min.css"
      rel="stylesheet"
    />
    <link href="App/AppComponents/home/home.component.css" rel="stylesheet" />
    <link href="Core/CoreComponents/grid/grid.component.css" rel="stylesheet" />
    <link
      href="Core/CoreComponents/dialog/dialog.component.css"
      rel="stylesheet"
    />
    <link
      href="Core/CoreServices/message-service/message.service.css"
      rel="stylesheet"
    />
    <!-- <link href="Core/message/message.component.css" rel="stylesheet" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="page-body">
    <div class="wrapper">
      <div class="header">
        <h1>AngularJS 1.6</h1>
        <div ng-controller="AppController as ctrl">
          <button
            class="language-button"
            ng-click="ctrl.changeLanguage('en')"
            ng-class="{ 'active-language': ctrl.langKey === 'en' }"
          >
            <i class="fi fi-gb"></i>
          </button>
          <button
            class="language-button"
            ng-click="ctrl.changeLanguage('es')"
            ng-class="{ 'active-language': ctrl.langKey === 'es' }"
          >
            <i class="fi fi-es"></i>
          </button>
        </div>
      </div>
      <message-component></message-component>
      <div ng-include="'App/AppComponents/home/home.component.html'"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-translate@2.18.0/dist/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.18.4/angular-translate-loader-static-files.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.9/angular-sanitize.min.js"></script>

    <!-- Core Application Scripts -->
    <script src="app.js"></script>
    <script src="App/Services/userService/user.service.js"></script>
    <script src="Core/CoreServices/message-service/message.service.js"></script>
    <script src="App/app.constants.js"></script>
    <script src="App/AppComponents/home/home.component.js"></script>
    <script src="Core/CoreComponents/grid/grid.component.js"></script>
    <script src="Core/CoreComponents/dialog/dialog.component.js"></script>
    <!-- <script src="Core/message/message.component.js"></script> -->
  </body>
</html>
